In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Port Elizabeth,-33.9180,25.5701,73.69,94,75,12.66,ZA,2022-02-12 19:03:21
1,1,Romitan,39.9343,64.3814,33.75,80,0,6.91,UZ,2022-02-12 19:03:22
2,2,Saint Anthony,45.0205,-93.2180,4.28,63,100,6.91,US,2022-02-12 19:03:22
3,3,Mnogovershinnyy,53.9353,139.9242,6.12,98,100,3.18,RU,2022-02-12 19:03:23
4,4,Cape Town,-33.9258,18.4232,70.27,78,100,1.99,ZA,2022-02-12 19:03:23
...,...,...,...,...,...,...,...,...,...,...
568,568,San Francisco,37.7749,-122.4194,73.92,59,100,11.01,US,2022-02-12 19:15:17
569,569,Imamoglu,37.2651,35.6572,49.23,81,6,2.08,TR,2022-02-12 19:20:04
570,570,Cayenne,4.9333,-52.3333,80.64,87,75,10.36,GF,2022-02-12 19:20:04
571,571,Itarema,-2.9248,-39.9167,84.02,65,99,12.48,BR,2022-02-12 19:19:35
572,572,Qarqin,37.4185,66.0436,47.57,48,98,13.91,AF,2022-02-12 19:20:05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
#max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
   # temps.append(max(temp, 0))

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"] 
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Vaini,-21.2000,-175.2000,80.76,89,20,4.61,TO,2022-02-12 19:03:24
6,6,Rikitea,-23.1203,-134.9692,79.02,70,3,17.00,PF,2022-02-12 19:03:24
7,7,Eydhafushi,5.1033,73.0708,81.14,75,100,8.37,MV,2022-02-12 19:03:25
9,9,Port Blair,11.6667,92.7500,76.37,72,13,13.60,IN,2022-02-12 19:03:26
11,11,Cabo San Lucas,22.8909,-109.9124,83.61,46,0,3.00,MX,2022-02-12 19:02:12
13,13,Saquarema,-22.9200,-42.5103,80.64,81,35,8.63,BR,2022-02-12 19:03:27
14,14,Padang,-0.9492,100.3543,76.86,82,96,3.67,ID,2022-02-12 19:00:28
19,19,Namibe,-15.1961,12.1522,76.23,80,83,7.78,AO,2022-02-12 19:03:30
22,22,Souillac,-20.5167,57.5167,78.37,86,10,10.29,MU,2022-02-12 19:03:31
23,23,Butaritari,3.0707,172.7902,82.74,69,99,15.97,KI,2022-02-12 19:00:04

In [14]:
preferred_cities_df.count()

City_ID       155
City          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
Country       155
Date          155
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5            Vaini      TO     80.76 -21.2000 -175.2000
6          Rikitea      PF     79.02 -23.1203 -134.9692
7       Eydhafushi      MV     81.14   5.1033   73.0708
9       Port Blair      IN     76.37  11.6667   92.7500
11  Cabo San Lucas      MX     83.61  22.8909 -109.9124
13       Saquarema      BR     80.64 -22.9200  -42.5103
14          Padang      ID     76.86  -0.9492  100.3543
19          Namibe      AO     76.23 -15.1961   12.1522
22        Souillac      MU     78.37 -20.5167   57.5167
23      Butaritari      KI     82.74   3.0707  172.7902

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
6,Rikitea,PF,79.02,-23.1203,-134.9692,People ThankYou
7,Eydhafushi,MV,81.14,5.1033,73.0708,Soneva Fushi
9,Port Blair,IN,76.37,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
11,Cabo San Lucas,MX,83.61,22.8909,-109.9124,Hotel Tesoro Los Cabos
...,...,...,...,...,...,...
557,Pemangkat,ID,76.44,1.1667,108.9667,Ramah Kost KITA
561,Passo De Camaragibe,BR,87.35,-9.2368,-35.4901,ChÃ¡cara vovÃ³ candinha
562,Thinadhoo,MV,81.48,0.5333,72.9333,
570,Cayenne,GF,80.64,4.9333,-52.3333,HÃ´tel Le Dronmi
571,Itarema,BR,84.02,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]