## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/Whitney/Desktop/world-weather-analysis/weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,El Cope,8.6167,-80.6000,78.26,54,28,11.43,PA,2022-02-13 20:09:28,scattered clouds
1,1,Punta Arenas,-53.1500,-70.9167,50.11,50,40,31.07,CL,2022-02-13 20:09:29,scattered clouds
2,2,Cabo San Lucas,22.8909,-109.9124,85.30,56,75,8.05,MX,2022-02-13 20:09:29,broken clouds
3,3,Barrow,71.2906,-156.7887,-29.18,100,0,8.05,US,2022-02-13 20:09:30,clear sky
4,4,Taoudenni,22.6783,-3.9836,66.18,22,0,11.59,ML,2022-02-13 20:09:30,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
ideal_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
ideal_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,El Cope,8.6167,-80.6000,78.26,54,28,11.43,PA,2022-02-13 20:09:28,scattered clouds
2,2,Cabo San Lucas,22.8909,-109.9124,85.30,56,75,8.05,MX,2022-02-13 20:09:29,broken clouds
5,5,Kapaa,22.0752,-159.3190,76.12,72,40,13.80,US,2022-02-13 20:09:31,scattered clouds
7,7,Vaini,-21.2000,-175.2000,80.62,76,77,18.43,TO,2022-02-13 20:05:29,light rain
8,8,Kavieng,-2.5744,150.7967,80.74,78,96,6.80,PG,2022-02-13 20:09:31,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
694,694,Grand-Santi,4.2500,-54.3833,81.10,82,52,4.41,GF,2022-02-13 20:29:19,broken clouds
697,697,Tartagal,-22.5164,-63.8013,79.75,48,84,3.94,AR,2022-02-13 20:29:20,broken clouds
701,701,Maningrida,-12.0667,134.2667,76.21,84,8,6.42,AU,2022-02-13 20:29:22,clear sky
706,706,Tevaitoa,-16.7833,-151.5000,80.74,74,100,15.30,PF,2022-02-13 20:29:24,light rain
707,707,Irituia,-1.7711,-47.4381,76.08,95,100,3.27,BR,2022-02-13 20:29:24,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
ideal_cities_df.notnull().value_counts()

City_ID  City  Lat   Lng   Max Temp  Humidity  Cloudiness  Wind Speed  Country  Date  Description
True     True  True  True  True      True      True        True        True     True  True           213
                                                                       False    True  True             1
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_cities_df = ideal_cities_df.dropna(axis='index', how= 'any')

clean_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Description
0,0,El Cope,8.6167,-80.6000,78.26,54,28,11.43,PA,2022-02-13 20:09:28,scattered clouds
2,2,Cabo San Lucas,22.8909,-109.9124,85.30,56,75,8.05,MX,2022-02-13 20:09:29,broken clouds
5,5,Kapaa,22.0752,-159.3190,76.12,72,40,13.80,US,2022-02-13 20:09:31,scattered clouds
7,7,Vaini,-21.2000,-175.2000,80.62,76,77,18.43,TO,2022-02-13 20:05:29,light rain
8,8,Kavieng,-2.5744,150.7967,80.74,78,96,6.80,PG,2022-02-13 20:09:31,overcast clouds
...,...,...,...,...,...,...,...,...,...,...,...
694,694,Grand-Santi,4.2500,-54.3833,81.10,82,52,4.41,GF,2022-02-13 20:29:19,broken clouds
697,697,Tartagal,-22.5164,-63.8013,79.75,48,84,3.94,AR,2022-02-13 20:29:20,broken clouds
701,701,Maningrida,-12.0667,134.2667,76.21,84,8,6.42,AU,2022-02-13 20:29:22,clear sky
706,706,Tevaitoa,-16.7833,-151.5000,80.74,74,100,15.30,PF,2022-02-13 20:29:24,light rain
707,707,Irituia,-1.7711,-47.4381,76.08,95,100,3.27,BR,2022-02-13 20:29:24,overcast clouds

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,El Cope,PA,78.26,scattered clouds,8.6167,-80.6000,
2,Cabo San Lucas,MX,85.30,broken clouds,22.8909,-109.9124,
5,Kapaa,US,76.12,scattered clouds,22.0752,-159.3190,
7,Vaini,TO,80.62,light rain,-21.2000,-175.2000,
8,Kavieng,PG,80.74,overcast clouds,-2.5744,150.7967,
9,Hithadhoo,MV,82.15,broken clouds,-0.6000,73.0833,
13,Ca Mau,VN,77.18,few clouds,9.1769,105.1500,
15,Salalah,OM,77.09,clear sky,17.0151,54.0924,
18,Tadine,NC,79.86,overcast clouds,-21.5500,167.8833,
24,Atuona,PF,77.54,light rain,-9.8000,-139.0333,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("No Hotel Found... skipping.")

No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.
No Hotel Found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('',np.nan, inplace=True)

In [12]:
clean_hotel_df = hotel_df.dropna()

clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,El Cope,PA,78.26,scattered clouds,8.6167,-80.6000,Hostal Buena Esperanza
2,Cabo San Lucas,MX,85.30,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
5,Kapaa,US,76.12,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Vaini,TO,80.62,light rain,-21.2000,-175.2000,Keleti Beach Resort
8,Kavieng,PG,80.74,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
...,...,...,...,...,...,...,...
694,Grand-Santi,GF,81.10,broken clouds,4.2500,-54.3833,Hotel La Villa Couacou
697,Tartagal,AR,79.75,broken clouds,-22.5164,-63.8013,Almuñecar Hotel
701,Maningrida,AU,76.21,clear sky,-12.0667,134.2667,Dhukurrdji Lodge
706,Tevaitoa,PF,80.74,light rain,-16.7833,-151.5000,Hôtel Raiatea Lodge
707,Irituia,BR,76.08,overcast clouds,-1.7711,-47.4381,Hotel Irituia

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/Whitney/Desktop/world-weather-analysis/vacation_search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))